.title {
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 60px;
  padding: 20px;
}

.subtitle {
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 50px;
  padding: 20px;
}

.profile-pic {
  width: 250px;
  border-radius: 250px;
}

.contact-info {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  padding: 20px;
}
