.navbar {
  background-color: $white;
  color: $black;
  font-weight: $fw-bold;
  max-height: 53px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

  &__container {
    @extend .page;

    padding: 0 $global-padding;
  }

  &__link-group {
    display: flex;
    font-size: $font-size-large;
    justify-content: flex-end;
  }

  &__link {
    padding: $global-padding;

    &:hover {
      background-color: $off-white;
      cursor: pointer;
    }
  }

  &__title {
    font-size: 38px;
    font-weight: $fw-extrabold;
    padding: $global-padding/4;
    letter-spacing: 2px;
    text-align: center;
    transition: padding-top .5s;

    &--hidden {
      padding-top: 50px;
    }
  }
}
