.progress-bar {
  border: 2px solid $red;
  border-radius: 3px;
  height: 16px;
  margin: 0 $global-margin;
  width: 200px;

  &__progress {
    background-color: $red;
    height: 100%;
    transition: width 1s;
    width: 0;
  }
}
