// Colors

// https://coolors.co/101010-1c1c1c-0051ff-f15025-ffffff
$black: #101010;
$dark-gray: #1C1C1C;
$blue: #0051FF;
$flame: #F15025;
$white: #FFFFFF;

// Globals

$global-margin: 12px;
$gloabl-padding: 24px;

$body-background-color: $dark-gray;
$body-color: $white;
$body-font: Raleway;
