// Colors

// https://coolors.co/101010-1c1c1c-ef233c-ffffff
$black: #101010;
$dark-gray: #1C1C1C;
$red: #EF233C;
$white: #FFFFFF;

$off-white: #E0E0E0;

// Globals

$global-margin: 12px;
$gloabl-padding: 24px;

$font-size-small: 14px;
$font-size-regular: 16px;
$font-size-large: 18px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;

$body-background-color: $dark-gray;
$body-color: $white;
$body-font: Raleway;
