@import "../../node_modules/foundation-sites/scss/foundation";
@include foundation-xy-grid-classes;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

@import 'variables';

@import 'hero';
@import 'home_page';
@import 'layout';
@import 'navbar';
@import 'progress_bar';

body {
  background-color: $body-background-color;
  color: $body-color;
  font-family: $body-font;
  font-weight: $fw-medium;
  margin-top: 53px;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.flex {
  display: flex;
}
