.custom-nav {
  background-color: #0c0c0c;
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.icon-group {
  display: flex;
  align-content: center;
}

.icon-group img{
  margin: 10px 30px;
  height: 40px;
}

.hover-group {
  position: absolute;
}

.icon-base {
  transition: opacity .3s;
}

.icon-base:hover {
  opacity: 0;
}

.hamburger {
  display: flex;
  align-content: center;
}

.hamburger img{
  margin: 10px 10px;
  width: 40px;
}

.dropdown-items {
  position: absolute;
}

.gradient {
  height: 2px;
  background-image: linear-gradient(to right, #FFBF00,#5ADBFF,#5ADBFF,#EF2D56);
}

.hero-image {
  background-image: url("../images/splash.png");
  background-color: #cccccc;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  width: 40%;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
}

.showcase-row {
  padding: 15px;
}

.showcase-title {
  font-family: Montserrat;
  font-size: 36px;
  /* font-style: italic; */
  font-weight: 500;
  width: 100%;
}

.showcase-body {

}

.skill-card {
  background-color: #0c0c0c;
  border: solid #4e4e4e 1px;
  margin-bottom: 30px;
}

.skill-img-container {
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position:center center;
  margin-top: 15px;
}

.skill-img-container img{
  object-fit: contain;
}

.skill-card-text {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.contact-card {
  color: #EF2D56;
  transition: opacity .3s;
  transition: color .3s;
}

.contact-card a {
  text-align: center;
}

.contact-card a:hover {
  text-decoration: none;
}

.contact-hover-group {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.contact-icon-base {
  color: #FFFFFF;
  transition: opacity .3s;
}

.contact-hover {
  color: #EF2D56;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.contact-icon-base:hover {
  opacity: 0;
}

.contact-img-container {
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position:center center;
  margin-top: 15px;
}

.contact-img-container img{
  object-fit: contain;
}

.contact-card-text {
  font-size: 40px;
  font-weight: 600;
}
